<!DOCTYPE html>
<html ng-app="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
      <p>Enter first Number:</p>
      <input type="number" ng-model="t1">
       
      <p>Enter second Number:</p>
      <input type="number" ng-model="t2">

      <hr>
        
      Output is: {{t1+t2}}

</body>
</html>