<!DOCTYPE html>
<html ng-app="mymodule">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style></style>
  </head>

  <body ng-controller="mycontroller">
    <!-- search by name or country in input field enterd by user-->
    <p style="background-color: lightgray; padding: 10px">
      Type name or country in input field:
    </p>
    Name: <input type="text" name="name" ng-model="testName" /> country:
    <input type="text" name="country" ng-model="testCountry" />
    <ul>
      <li ng-repeat="x in names | filter:testName | filter:testCountry ">
        {{x.name +' '+x.country}}
      </li>
    </ul>
    <script>
      let app = angular.module("mymodule", []);
      app.controller("mycontroller", function ($scope) {
        $scope.names = [
          { name: "John", country: "India" },
          { name: "Carl", country: "Japan" },
          { name: "Joe", country: "England" },
          { name: "Mary", country: "Norway" },
          { name: "Hege", country: "Norway" },
          { name: "Gustav", country: "Sweden" },
        ];
      });
    </script>
  </body>
</html>
